@model AgenciaDeViagens.Models.Cliente

@{
    ViewData["Title"] = "Exclusão - Cliente";
}

<h1>Exclusão de Cliente</h1>

<h3>Deseja realizar a exclusão do cadastro abaixo?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row bg-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Data de Nascimento
        </dt>
        <dt class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index"> Voltar para Lista</a>
    </form>
</div>
